TMP="/var/cache/overkill"

# ok-heatpad
HEATPAD_PIN=25

# ok-timelapse
## raspistill
EXPOSURE="auto"
AWB="sun"
SLEEP=5000
TIME=6000000

## youtube
USER="x@gmail.com"
PASS=""
TITLE="Sunrise timelapse - $DATE"
DESC="Raspberry Pi"
CATE="Entertainment"
KEYW="Time-lapse Photography, Raspberry Pi (Computer)"

## twitter
TWEET="Bang! bang!"
